<div class="company-group">
    <div class="h-row">

      <div class="column">
        <p class="black-letters">Группа</p>
        <p class="blue-letters">компаний</p>
      </div>

    <div class="column">
      <div class="row">
        <img src="../../../assets/images/company-group/free-icon-quote.svg">
        <img src="../../../assets/images/company-group/Line_2.svg" class="caption-2">
      </div>
      <p class="small-letters caption-2">
        Нами было принято решение о создании группы компаний, которая будет сопровождать наши ведущие компании, а также работать на внешнего клиента. Сегодня в нашей группе 8 компаний, работающих в разных направлениях.
      </p>
    </div>

      <img src="../../../assets/images/company-group/group.svg">

    </div>
    
    <div class="line top-line">
      <div class="square its">
        <img src="../../../assets/images/company-group/ITS.svg">
        <img src="../../../assets/images/company-group/shadow.svg">
      </div>
      <div class="square mts">
        <img src="../../../assets/images/company-group/MTS.svg">
        <img src="../../../assets/images/company-group/shadow.svg">
      </div>
      <div class="square m3">
        <img src="../../../assets/images/company-group/M3.svg">
        <img src="../../../assets/images/company-group/shadow.svg">
      </div>
      <div class="square mir_stroy">
        <img src="../../../assets/images/company-group/MIR_STROY.svg">
        <img src="../../../assets/images/company-group/shadow.svg">
      </div>
    </div>
    <div class="line bottom-line">
      <div class="square it">
        <img src="../../../assets/images/company-group/IT.svg">
        <img src="../../../assets/images/company-group/shadow.svg">
      </div>
      <div class="square pk">
        <img src="../../../assets/images/company-group/PK.svg">
        <img src="../../../assets/images/company-group/shadow.svg">
      </div>
      <div class="square kapital">
        <img src="../../../assets/images/company-group/KAPITAL.svg">
        <img src="../../../assets/images/company-group/shadow.svg">
      </div>
      <div class="square tender">
        <img src="../../../assets/images/company-group/TENDER.svg">
        <img src="../../../assets/images/company-group/shadow.svg">
      </div>
    </div>
  </div>