<div class="company-group">
    <div class="h-row">

      <div class="column">
        <p class="black-letters">Группа</p>
        <p class="blue-letters">компаний</p>
      </div>

    <div class="column">
      <div class="row">
        <img src="../../../assets/images/company-group/free-icon-quote.svg">
        <img src="../../../assets/images/company-group/Line_2.svg" class="caption-2">
      </div>
      <p class="small-letters caption-2">
        Нами было принято решение о создании группы компаний, которая будет сопровождать наши ведущие компании, а также работать на внешнего клиента. Сегодня в нашей группе 8 компаний, работающих в разных направлениях.
      </p>
    </div>

      <img src="../../../assets/images/company-group/group.svg">

    </div>
    
    <div class="line top-line">

      <div class="square its">
        <div class="square-title">ITS</div>
        <div class="square-text">консалтинг и управление <br>группой компаний</div>
      </div>
      
      <div class="square mts">
        <div class="square-title">Development</div>
        <div class="square-text">консалтинг и управление <br>группой компаний</div>
      </div>

      <div class="square m3">
        <div class="square-title">Агрегатор</div>
        <div class="square-text">консалтинг и управление <br>группой компаний</div>
      </div>

      <div class="square mir_stroy">
        <div class="square-title">Строительство</div>
        <div class="square-text">консалтинг и управление <br>группой компаний</div>
      </div>

    </div>
    <div class="line bottom-line">

      <div class="square it">
        <div class="square-title">IT</div>
        <div class="square-text">консалтинг и управление <br>группой компаний</div>
      </div>
      
      <div class="square pk">
        <div class="square-title">Сеть ПК</div>
        <div class="square-text">консалтинг и управление <br>группой компаний</div>
      </div>

      <div class="square kapital">
        <div class="square-title">Капитал</div>
        <div class="square-text">консалтинг и управление <br>группой компаний</div>
      </div>

      <div class="square tender">
        <div class="square-title">Тендеры</div>
        <div class="square-text">консалтинг и управление <br>группой компаний</div>
      </div>

    </div>
  </div>