  <app-header-component></app-header-component>
  <span class="line">
    <!-- <app-employee><p employee-name>Герберт Ромберг</p><p job>Основатель компании</p></app-employee>
    <app-employee><p employee-name>Дмитрий Рыков</p><p job>Руководитель IT отдела</p></app-employee>
    <app-employee><p employee-name>Вадим Гончаров</p><p job>Frontend developer</p></app-employee>
    <app-employee><p employee-name>Имя Фамилия</p><p job>Должность</p></app-employee> -->
    <app-employee [employeeName]="employeeName1" [job]="employeeJob1"></app-employee>
    <app-employee [employeeName]="employeeName2" [job]="employeeJob2"></app-employee>
    <app-employee [employeeName]="employeeName3" [job]="employeeJob3"></app-employee>
    <app-employee></app-employee>
  </span>